@using DataAccess.Entities
@model Common.Dto.VolunteeringDto

<h1>Edit Volunteering Opportunity</h1>
<hr />
<form asp-action="Edit" class="container">
    <input type="hidden" asp-for="VolunteeringId" />

    <div class="mb-3 row">
        <label asp-for="VolunteeringContact" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="VolunteeringContact" class="form-control" />
            <span asp-validation-for="VolunteeringContact" class="text-danger"></span>
        </div>
    </div>

    <div class="mb-3 row">
        <label asp-for="VolunteeringPurpose" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="VolunteeringPurpose" class="form-control" />
            <span asp-validation-for="VolunteeringPurpose" class="text-danger"></span>
        </div>
    </div>

    <div class="mb-3 row">
        <label asp-for="VolunteeringOpportunityDetails" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="VolunteeringOpportunityDetails" class="form-control" />
            <span asp-validation-for="VolunteeringOpportunityDetails" class="text-danger"></span>
        </div>
    </div>

    <div class="mb-3 row">
        <label asp-for="StartDate" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="StartDate" class="form-control" />
            <span asp-validation-for="StartDate" class="text-danger"></span>
        </div>
    </div>

    <div class="mb-3 row">
        <label asp-for="EndDate" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="EndDate" class="form-control" />
            <span asp-validation-for="EndDate" class="text-danger"></span>
        </div>
    </div>

    <div class="mb-3 row">
        <label asp-for="VolunteerNos" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="VolunteerNos" class="form-control" />
            <span asp-validation-for="VolunteerNos" class="text-danger"></span>
        </div>
    </div>

    <div class="mb-3 row">
        <label asp-for="IsActive" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <select asp-for="IsActive" class="form-control">
                <option value="true">Active</option>
                <option value="false">Inactive</option>
            </select>
            <span asp-validation-for="IsActive" class="text-danger"></span>
        </div>
    </div>
    <div class="mb-3 row">
        <label asp-for="PremiseId" class="col-sm-2 col-form-label">Premise</label>
        <div class="col-sm-10">
            <select asp-for="PremiseId" class="form-control">
                <option value="@Model.Premise?.PremiseId">@Model.Premise?.PremiseName</option>
                @foreach (var item in (SelectList)ViewBag.Premises)
                {
                    <option value="@item.Value">@item.Text</option>
                }
            </select>
            <span asp-validation-for="PremiseId" class="text-danger"></span>
        </div>
    </div>

    <div class="mb-3 row">
        <div class="col-sm-10 offset-sm-2">
            <button type="submit" class="btn btn-primary">Save</button>
            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
        </div>
    </div>
</form>
