@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <!-- <p>Maintain <a asp-controller="Premises" asp-action="Index">Premises</a>.</p> -->
    <!-- <p>Maintain <a asp-controller="Facility" asp-action="Index">Premises</a>.</p> -->
    <!-- <p>Maintain <a asp-controller="MinorWork" asp-action="Index">Premises</a>.</p> -->
    <!-- <p>Maintain <a asp-controller="VolunteeringOpportunity" asp-action="Index">Premises</a>.</p> -->
</div>